<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Tracks of my Years</title>
</head>

<body>
    <h1>Track of my Years</h1>
    <form action="/" method="post">
        <p>Year: <input type="number" min="1990" max="2022" name="year" value="{value}">
            <button type="submit">Go</button>
        </p>
    </form>
    {songs}
</body>

</html>